body{
    background-color: rgb(174, 200, 223);
}
hr{
    border-style: none;
    border-top: dotted;
    border-color: #030303;
    border-width: 5px;
    width: 5%;
}
h1{
    color: aqua;
}
h3{
    color: aqua;
}
th{
  color: rgb(226, 147, 43);  
}

label{
    color: yellowgreen;
}